$colorButtons: #56af69;
$colorEmail: #ddefe1;
$colorContent: #0e0e0e;
$colorWhite: #fff;
$colorRed: #f34a38;
$colorRedDark: #d86969;
$colorBlue: #0071c2;
$colorTelegram : #b2dbf0;
$colorFacebook: #d2e4fd;
$colorGrey: #e4e4e4;
$colorGreyDark: #dadada;
$colorGreyLink: #b1b1b1;
$colorBackground: #f2f2f2;
$colorBorder: #cecece;
$colorAvatarBackground: #f8f8f8;
$colorLine: #c7c7c7;
$colorOpacityText: #3e3e3e;
$colorSocialLink: #b2dbf0;
$colorBox-shadow: #0000000D;

$fontMain: "InterMedium", sans-serif;
$fontAdditional: "InterRegular", sans-serif;
$fontLight: "InterLight", sans-serif;
$fontSemiBold: "InterSemiBold", sans-serif;
$fontItalic: "InterItalic", sans-serif;
$fontItalicMedium: "InterMediumItalic", sans-serif;
$fontGothamPro: "GothamPro", sans-serif;
$fontSizeBigText: 18px;
$fontSizeContent: 16px;
