@mixin styleForText ($fontSize: $fontSizeContent, $fontFamily: $fontMain, $color: $colorContent) {
	font-size: $fontSize;
	font-family: $fontFamily;
	color: $color;
}
  
@mixin clearfix {
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}
  
@mixin container ($width) {
	width: $width;
	margin: 0 auto;
	padding: 0;
}
  
@mixin styleWithPrefix ($property, $value) {
	#{'-webkit-' + $property}: $value;
	#{'-moz-' + $property}: $value;
	#{'-ms-' + $property}: $value;
}
  