* {
	margin: 0;
	padding: 0;
}
  
body {
	@include styleWithPrefix(box-sizing, border-box);
	box-sizing: border-box;
	font-size: $fontSizeContent;
	font-family: $fontMain;
	color: $colorContent;
	height: 100vh;
}
  
#__next {
	height: 100%;
}
  
a {
	text-decoration: none;
	color: $colorContent;
	font-family: $fontMain;
}
  
a:hover,
button:hover {
	cursor: pointer;
}

li {
	list-style: none;
}

button {
	border: none;
	background: none;
	font-family: $fontMain;
}

button:focus,
input:focus,
textarea:focus {
	outline: none;
}

h1 {
	@include styleForText(36px, $fontAdditional);
}

h2 {
	@include styleForText(34px, $fontAdditional);
}

h3 {
	@include styleForText(30px, $fontAdditional);
}

h4 {
	@include styleForText(24px, $fontAdditional);
}

h5 {
	@include styleForText(18px, $fontAdditional);
}
  
h6 {
	@include styleForText($fontSizeContent, $fontAdditional);
}

textarea {
	resize: none;
}
